<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name="Listener_reports_practise.extent_reports_practise"/>

</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Listener_reports_practise.demo_practice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
